# exercise-specific metadata
/*/*/.exercism
/*/*/README.md
/*/*/test_*
/*/*/*-test.*

/Haskell/*/.exercism
/Haskell/*/.stack-work
/Haskell/*/README.md
/Haskell/*/package.yaml
/Haskell/*/stack.yaml
/Haskell/*/stack.yaml.lock
/Haskell/*/*.cabal
/Haskell/*/test

/ocaml/**/_build
