# exercise-specific metadata
/*/*/.exercism
/*/*/README.md
/*/*/test_*
/*/*/*-test.*

/haskell/*/.exercism
/haskell/*/.stack-work
/haskell/*/README.md
/haskell/*/package.yaml
/haskell/*/stack.yaml
/haskell/*/stack.yaml.lock
/haskell/*/*.cabal
/haskell/*/test

/ocaml/**/_build

/clojure/*/.lein*
/clojure/*/target
/clojure/*/HELP.md
