# exercise-specific metadata
/*/*/.exercism
/*/*/GETTING_STARTED.md
/*/*/HELP.md
/*/*/LICENSE
/*/*/README.md
/*/*/test_*
/*/*/*-test.*

/haskell/*/.stack-work
/haskell/*/stack.yaml.lock
/haskell/*/*.cabal

/ocaml/**/_build

/clojure/*/.lein*
/clojure/*/.nrepl*
/clojure/*/HINTS.md
/clojure/*/target

/javascript/*/.gitignore
/javascript/*/HINTS.md
/javascript/*/.eslintrc
/javascript/*/.npmrc
/javascript/*/babel.config.js
/javascript/*/node_modules
/javascript/*/package-lock.json
